<html>
<head>
    <title>Demo docker in production</title>
    <style>
        body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: #6b2fad;
            font-family: Circular-Black,Helvetica,Arial,sans-serif;
        }
        h1 {
            text-align: center;
            color: #e66700;
            font-size: 90px;
        }
        h3 {
            margin-top: 20px;
            text-align: center;
            color: #ffffff;
            font-size: 40px;
        }
        .place-holder {
            position: absolute;
            display: block;
            top: 50%;
            margin-top: -200px;
            width: 100%;
        }
        .md-white-block {
            padding-top: 100px;
            float: left;
            display: block;
            height: 300px;
            width: 60%;
            background-color: #ffffff;
        }
        .md-orange-block {
            float: left;
            display: block;
            margin-left: 15%;
            height: 80px;
            width: 60%;
            background-color: #e66700;
        }
    </style>
</head>
<body>
<div class="place-holder">
<div class="md-white-block">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="md-orange-block">
    <h3>
        {{ subTitle }}
    </h3>
</div>
</div>
</body>
</html>
